.places {
    max-width: 984px;
    display: grid;
    grid-row-gap: 80px;
    padding-bottom: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1126px) {   
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
        grid-row-gap: 72px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 620px) {
    .places {
        grid-template-columns: 1fr;
        max-width: 620px;
        grid-row-gap: 50px;
        padding-bottom: 66px;
    }
}

