.lead__title {
    font-family: "Inter-Black";
    width: 720px;
    min-height: 200px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 56px auto 32px;
    margin-block: 0;
}

@media screen and (max-width: 400px) {   
    .lead__title {
        width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
        margin-top: 0;
}
}
