.footer__copyright {
    color: #fff;
    font-family: "Inter-Regular";
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 0;
}

@media screen and (max-width: 400px) {
    .footer__copyright {
        margin-top: 48px;
    }
}