.lead__image {
    width: 984px;
    height: 615px;
    margin: auto;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {    
    .lead__image {
        width: 928px;
        height: 580px;
    }
}

@media screen and (max-width: 1000px) {  
    .lead__image {
        width: 742px;
    }
}

@media screen and (max-width: 768px) {  
    .lead__image {
        width: 100%;
        max-width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 400px) {   
    .lead__image {
        max-width: 320px;
        height: 200px; 
    }
} 