.lead__subtitle {
    font-family: "Inter-Regular";
    width: 640px;
    max-height: 80px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 59px;
}

@media screen and (max-width: 400px) {   
    .lead__subtitle {
        width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin: 6px auto 40px;
}
}