@font-face {
    src: url(../vendor/fonts/Inter-Black.ttf) format('truetype');
    font-family: "Inter-Black";
    font-weight: 900;
} 

@font-face {
    src: url(../vendor/fonts/Inter-Bold.ttf) format('truetype');
    font-family: "Inter-Bold";
    font-weight: 700;
} 

@font-face {
    src: url(../vendor/fonts/Inter-Regular.ttf) format('truetype');
    font-family: "Inter-Regular";
    font-weight: 400;
} 