.intro__main-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 690px;
}

@media screen and (max-width: 768px) {
    .intro__main-text {
        margin-left: 24px;
    }
}

@media screen and (max-width: 400px) {
    .intro__main-text {
        margin-left: 16px;
    }
}