.place__website_url-heading {
    font-family: "Inter-Regular";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #aaa;
}

@media screen and (max-width: 768px) {
    .place__website_url-heading {
        line-height: 12px;
    }
}
