.place__website {
    max-width: 456px;
    display: grid;
    align-self: end;
    grid-auto-rows: auto;
}

@media screen and (max-width: 580px) {   
    .place__website {
        max-width: 288px;
    }
}

