.intro__title {
    font-family: "Inter-Black";
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    min-height: 58px;
    margin-top: 92px;
    margin-bottom: 40px;
}

@media screen and (max-width: 400px) {    
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        min-height: 70px;
        margin-top: 64px;
    }
}